table {
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 10px;
    white-space: nowrap;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  tr {
    background-color: rgb(205, 235, 253);
  }
  
  tbody tr:hover {
    background-color: lightyellow;
    border-style: solid;
    border: 2px solid orange;
  }