.valueUp {
  animation-name: blinkgreen;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.valueDown {
  animation-name: blinkred;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.posvalue {
  color: forestgreen;
}

.negvalue {
  color: red;
}
  

@keyframes blinkred {
  5% {background-color: red;}
}

@keyframes blinkgreen {
  5% {background-color: green;}
}

#value {
  width: 100%;
  text-align: right;
}

